/*SECTIONS*/


#bienvenida{
  margin: auto;
  max-width:inherit;
}

/*MAPA DE CARRERA*/
.mapa-de-carrera h2{
  font-size: 1rem;
  color: var(--FEM-magenta);
  color: var(--FEM-blanco);
  background-color: rgba(0, 0, 0, 0);
  margin: 3px;
}

.mapa-de-carrera img{
  display: flex;
  margin: auto;
  max-height: 80vh;
  margin: 3px auto;

}



/*QUE SE VOTA*/
#resultados-con-barras{
    aspect-ratio: auto;
    height:8em;
    width: auto;
    margin-right: 10px;
    align-self: center;
}

#resultados-elecciones{
  margin-left: 1em;
    font-size: 1.2em;
}

/*ESTUDIANTE QUE TRABAJA*/




/*POLARIZADOR*/

.

/*HITS EN EL CONSEJO*/

#hits-en-el-consejo{
  text-align: center;
}

.disco{
  width: max(70% 300px);
  margin-bottom: 3px;
}


#hits-en-el-consejo ol{
  width: auto;
  position: relative;
  justify-self: center;
  width: max-content;
  font-size: 20pt;
  text-align: left;
  list-style-type: decimal;
  list-style-position:outside;
  color: var(--FEM-magenta);
  font-weight: bold;
}

#hits-en-el-consejo ol li {
  height: min-content;
  margin: 0;
  padding: 0;
}

#hits-en-el-consejo ol li p {
  height: min-content;
  font-weight:600;
  margin: 2px;
  padding: 0;
}



.aprobado{
  font-weight: bold;
  font-family: 'Built Titling', sans-serif;
  color: var(--FEM-verde);
  border: 2px solid var(--FEM-verde);
  font-size: 1rem;
  padding: 0 2px;
  transform: skewX(-10deg);
}

.alerta{
  letter-spacing: -10px;
  transform: rotate(15deg);}


/*SE VIENE*/

#se-viene {
  text-align: left;
  background-color: var(--FEM-magenta);
  position: relative;
  
}

#se-viene h2{
  height: 2em;
  width: 120%;
  background-color: var(--FEM-verde);
  border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   vertical-align: center;
   transform: rotate(-1deg);
   position: relative;
   top:-20px;
   left:0;
}

#se-viene ul{
  padding: 0 10px;
  top: -20px;
  list-style-type: ">";
  list-style-position: inside;
  color: var(--FEM-blanco);
  font-weight: 600;
}

