/*SECTIONS*/
main{
  padding-left: 5px;
  margin:auto;
  max-width: max(900px, 80vw);
  width:auto;
  height: auto;
}

#bienvenida{
  margin: auto;
  max-width:inherit;
}

/*MAPA DE CARRERA*/
.mapa-de-carrera h2{
  font-size: 1rem;
  color: var(--FEM-magenta);
  color: var(--FEM-blanco);
  background-color: rgba(0, 0, 0, 0);
  margin: 3px;
}

.mapa-de-carrera img{
  display: flex;
  margin: auto;
  max-height: 80vh;
  margin: 3px auto;

}

/* INICIO PLATAFORMA*/
.nav-plataforma{
  display: flex;
  gap: 2px;
  margin: auto;
  max-width: inherit;
  flex-wrap: wrap;
  justify-content: center;
}

.a-box{
width: min(30vw, 150px);
height: 100px;
display: flex;
aspect-ratio:3/2;
background-color: var(--FEM-magenta);
text-align: center;
align-items: center;
justify-content: center;
border-radius: 15px;
}

.a-box p{
  font-weight: 800;
  color: var(--FEM-blanco);
  text-align: center;
  align-items: center;
}


/*QUE SE VOTA*/
#resultados-con-barras{
    aspect-ratio: auto;
    height:8em;
    width: auto;
    margin-right: 10px;
    align-self: center;
}

#resultados-elecciones{
    font-size: 1.5em;
}

/*ESTUDIANTE QUE TRABAJA*/

.img-lista-trabaja{
  height:100px;
  width: auto;
  aspect-ratio:1/1;
}


/*POLARIZADOR*/

.polarizador{
  max-width: 100%;
  margin: 10px
}

.polariza-fem ul{
  list-style-type: "✅";
  list-style-position: inside;
  display: inline-block;
  border:2px solid black;
  display: flex;
  align-self: stretch;
 height: calc(100% - 5em);
  flex-direction: column;
  justify-content: space-evenly;
}

.polariza-franja ul{
 display: flex;
  align-self: stretch;
 height: calc(100% - 5em);
  flex-direction: column;
  justify-content: space-evenly;
}

.polariza-fem ul p{
    display: inline;
     min-width: 0;
     max-width: 100%;
}

.polariza-franja{
  direction: rtl;
  color: orange;
}

.polariza-franja h3{
  margin-bottom: 30px;
}
.polariza-franja .texto-con-imagen{
  position: relative;
  display:flex;
  gap: 5px;
  padding-left: 32px;
  max-width: 100%;
}

.polariza-franja .img-acompaña{
  width: min(35%, 80px);
  aspect-ratio: auto;
}

.cruz{
  position: absolute;
  bottom: 0;
  left :0;
  width:50px;
  height:50px;
  background-size: contain;
}

@media (max-width: 600px) {
.polariza-fem {
    position: relative;
    padding: 8px 8px 32px 8px;
    background:var(--FEM-magenta);
    color: var(--FEM-blanco);
    z-index: 1;
    transition: cubic-bezier(0.075, 0.82, 0.65, 1) 0.3s;
    height: max-content;
}
.polariza-fem:after {
    background: linear-gradient(-45deg, black 16px, transparent 0), linear-gradient(45deg, black 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
     transition: cubic-bezier(0.075, 0.82, 0.65, 1) 0.3s;;
}

.polariza-franja{
   position: relative;
   z-index: 0;
    padding: 32px 8px 8 8px;
    background: black;
     transition: cubic-bezier(0.075, 0.82, 0.65, 1) 0.3s;;;
     height: max-content;
}
}

@media (min-width: 600px){
  .polarizador{
    display: flex;
    flex-wrap:nowrap;
    max-width: 100%;
    width: auto;
    height: auto;
    align-items: stretch;
  }

  .polariza-fem, .polariza-franja{
    flex-basis: auto;
    flex-shrink: 2;
    min-width: 0;
    max-height: none;
  }

  .polariza-fem p, .polariza-franja p{
    overflow-wrap: break-word;
    display: inline-block;
    max-width: 100%;
  }

  .polariza-fem {
    position: relative;
    padding: 8px 32px 8px 8px;
    background:var(--FEM-magenta);
    color: var(--FEM-blanco);
    z-index: 1;
    transition: cubic-bezier(0.075, 0.82, 0.65, 1) 0.3s;;;
}

.polariza-fem:after {
    background: linear-gradient(-45deg, black 16px, transparent 0), linear-gradient(-135deg, black 16px, transparent 0);
    background-position: right-top;
    background-repeat: repeat-y;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 32px;
    height: 100%;
     transition: cubic-bezier(0.075, 0.82, 0.65, 1) 0.3s;;;
}

.polariza-franja{
   position: relative;
   z-index: 0;
    padding: 48px 8px 8 8px;
    background: black;
     transition: cubic-bezier(0.075, 0.82, 0.65, 1) 0.3s;
      max-width: 50%;
}

.polariza-franja h3{
  translate: 0 0.5em;
  font-size: 1.5em;
}
}



