/*CSS STYLESHEET*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Montserrat, monospace;
    font-size: 14pt;
    --FEM-magenta: #E40C7F;
    --FEM-verde: rgb(0, 114, 80);
    --FEM-blanco: #F6F6F6;
    --FEM-fondo: #fffcfc;
/*   border: 1px solid black*/
}

html{
  scroll-padding-top: 12vh;
}

body{
  background-color:var(--FEM-fondo);
  width:100%;
  min-height: 100vh;
  height:100%;
}

/*HEADER*/

header{
  position: sticky;
  z-index: 2;
  top:0;
  left:0;
  width: 100%;
  max-height: 10vh;
  height: auto;
  background-color: var(--FEM-magenta);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-div{
  vertical-align: center;
  width:25%;
  max-width:100px;
  max-height:10vh;
  height:auto;
  padding: 1px;
}

.logo{
max-width: inherit;
    max-height: inherit;
    height: 10vh;
    width: auto;
    vertical-align: center;
    text-aign: center;
}
.nav-div{
  box-sizing: content-box;
  vertical-align: center;
  width: min-content;
  max-width: 200px;
  max-height:inherit;
  height: auto;
}
header nav{
  text-align: center;
}

header nav a{
  color: var(--FEM-blanco);
  text-decoration:none;
  font-size: 1.1rem;
  font-weight: bold;
}


/*LISTAS, LABELS, ETC*/

ul{
  list-style: none;
}

.label{
  display: block;
  margin: 3px auto;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  color: var(--FEM-magenta);
}

/*DISPLAY IMG AND TEXT*/

.texto-con-imagen{
  padding:0;
  display: flex;
  vertical-align: center;
  flex-wrap: nowrap;
  height: max-content;
  gap:0;
  margin-bottom: 3vh;
}

.texto-acompaña{
  height: min-content;
  width: auto;
  vertical-align:top;
margin: 0;
}

.img-acompaña{
  width: max(10vw, 200px);
  height: auto;
  aspect-ratio: 1/1;
  margin-right: 20px;
  margin: 0;
}

.center{
  display: inline-block;
  text-align:center;
  margin:0 auto;
  justify-content: center;
border: 2px solid black;
}
/*FOOTER*/

hr{
    border: 1px solid #dedad3;
    margin: 15px 0;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    gap: 1.5rem;
  }

  .page-link{
    margin: 5px;
  }
}

footer {
    width:100%;
    height: auto;
    margin:auto;
    padding:0;
    width: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.container{
    display: flex;
    min-width: max(min-content, 30%);
    min-height: max(min-content, 30%);
    align-items: center;
    margin: 0 auto;
}

.name{
  text-align:left;
  font-size:1.2rem;
  font-weight: 800;
  color: var(--FEM-magenta);
  flex: 0 2 33%;
}

.address{
  display: flex;
  flex-direction: column;
  flex-grow: 3 0 33%;
}

.address a {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: #888;
    text-decoration: none;
    
  }

.address a:hover {
    color: var(--FEM-verde);
  }

.svg-sociales{
  box-sizing: border-box;
  vertical-align: center;
  width: 2rem;
  height: 2rem;
}

.p-sociales{
  box-sizing: border-box;
  vertical-align: center;
}

.seguinos{
    box-sizing: border-box;
    text-align: right;
    font-size: 1rem;
    flex: 0 1 33%;
}
